.comoFunciona .container-fluid .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-between;
}
.comoFunciona .container-fluid .row .col{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.comoFunciona .container-fluid{
    padding: 2rem;
}
.comoFunciona .container-fluid .row .col .photo{
border-radius: 20rem;

border-width: 0.2rem;
width: 200px;
height: 200px;


}

.comoFunciona .container-fluid .row .col .icons a{
    margin: 1rem;
}
.comoFunciona .container-fluid .row .col .icons a img{
    width: 30px;
    height: 30px;
}