@media(max-width:450px){
 
    .inicio .container-sm{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .inicio{
        background-color: #fff;
        background-image: none;

    }
    .inicio .container-sm .bloque{
        width: 90%;
        height: 80%;
        padding: 1rem;
        margin-top: 150px;
        
    }
    .inicio {
        background-color: #fff;
        background-image: none;

    }
    .inicio .container-sm img{
        display: flex;
        width: 100%;
        top: 110px;
        height: 100%;
    }
   
    
    .beneficios .container-fluid .box .box-text{
        
        
    }
    .beneficios .container-fluid .box{
        
    }
    .beneficios .container-fluid .box .box-button{
        justify-content: center;
        display: flex;
        margin: 1rem;
        
    }
   
   
    
    .beneficios .container-fluid .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    .beneficios .container-fluid .box p{
        padding: 1rem;
    }
    .beneficios .container-fluid .box .box-text{
        width: 100%;
        margin-bottom: 0;
    }

    .beneficios .container-fluid .row .col{
        flex: 1 0 50%; 
        max-width: 50%; 
        justify-content: center;
        display: flex;
        align-items: center;
    }
    .beneficios .container-fluid .row .col img{
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
    .beneficios .container-fluid .row .col span{
        font-size: 1rem;
        font-weight: 600;
        color: #555;
        margin: 1rem;
    }
    .consultorios .container{
        display: flex;
        flex-direction: column;
        text-align: start;
        
    }
    .consultorios .container h1{
        color: #1363A2;
        font-size: 3rem;
    }
    .consultorios .container .row .col h1{
        font-size: 2rem;
    }

    .consultorios .container .row .col{
        text-align: justify;
    }

    .comoFunciona .container-fluid .row{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .comoFunciona .container-fluid{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }


        .comoFunciona .container-fluid .row .col{
            flex: 1 0 50%; 
            max-width: 100%; 
            justify-content: center;
            
        
        }
        .comoFunciona .container-fluid .row .col h3{
            font-size: 2rem;
            font-weight: 600;
            color: #555;
            margin: 1rem;
        }
        .comoFunciona .container-fluid .row .col p{
            font-size: 1rem;
            font-weight: 400;
            color: #555;
            
            text-align: justify;
        }

        footer .container{
            display: flex;
            flex-direction: column;
            justify-content: center; 
            text-align: center;
            gap: 2rem;
            margin: 0;
            padding: .5rem;
         }

        footer .container{
            height: 100%;
            width: 100%;
            
        }
        .logo, .contacto, .siguenos, .recursos{
            width: 100%;
            align-items: stretch;
            
        }
        footer .siguenos{
            display: flex ;
            flex-direction: column;
            
            align-items:start;
        }
        

}
a{
    text-decoration: none;
}